<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
 <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8"></head>
  <title>Loren Sanz - Curriculum Vitae</title>
  <meta name="description" content="Curriculum Vitae for Loren Sanz">
  <meta name="author" content="Loren Sanz">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="stylesheets/css/layout.css">
  <link rel="stylesheet" href="stylesheets/css/skeleton.css">
  <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/custom-style.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  
  <script src="bower_components/matthewlein-jQuery-widowFix/js/jquery-1.4.3.min.js"></script>
  <script src="bower_components/matthewlein-jQuery-widowFix/js/jquery.widowFix-1.3.2.min.js"></script>
  <script>
    $( document ).ready(function() {
        $('li').widowFix();
    });
  </script>
</head>
<body>
<div class="container">
    <div class="header vcard clearfix">
        <h2 class="fn twelve columns alpha">Loren Sanz</h2>
        <div class="detail four columns omega">
            <div class="phone">T:&nbsp;503-333-1268</div>
            <div class="email">E:&nbsp;<a href="mailto:techmandu@gmail.com">techmandu@gmail.com</a></div>
        </div>
    </div>
    <hr/>
<%=content%>
</div>
</body>
</html>

